[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "0.87.0"
pandas = "*"
tabula-py = "*"
python-dotenv = "*"
dict2xml = "*"

[dev-packages]

[requires]
python_version = "3.8"
