[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tabula-py = "~=2.3.0"
python-dotenv = "~=0.19.0"
dict2xml = "~=1.7.0"
streamlit = "*"
altair = "*"
setuptools = "*"

[dev-packages]
autopep8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.12"
